simonsBudget.py
**/__pycache__/
**/*specific*
**/*input*
**/*output*
*.py[cod]
*.pyo
venv/
.venv/
env/
.env/
.idea/
.vscode/
.sublime-workspace
.sublime-project
*.egg
*.egg-info/
dist/
build/
*.log
.tox/
.nox/
.coverage
.hypothesis/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
ehthumbs.db
.env
.secrets
*.sqlite3
*.db